<div class="card">
	<div class="card-body">
		{{title}}
		{{description}}
	</div>
	<div class="badge">

		{{priority}}
	</div>
</div>
<a href="/todos/{{id}}/edit"><button type="button" name="button">edit</button></a>
<a href="/todos/{{id}}/delete"><button type="button" name="button">delete</button></a>
